<h3>注文履歴一覧</h3>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead class="bg-light">
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>配送状況</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to l(order.created_at), edit_manager_order_path(order.id) %></td>
            <td><%= order.member.name %></td>
            <td>
              <% if order.delivery ==true %>
                <span>発送準備中</span>
              <% else %>
                <span>発送済み</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @orders %>
</div>
