<div class="row">
	<div clsss="col-md-12">
    <div>
      <%= image_tag "about1.jpg", class: "top" %>
      <%= image_tag "about2.jpg", class: "top" %>
      <%= link_to "商品を見つける", public_items_path, class: "btn btn-success col-md-6 offset-md-3 mt-3" %>
    </div>
  </div>
</div>
