<h3>マイページメニュー</h3>

<div class="row mt-4">
  <div class="col-md-6">
    <div class="card card-body">
      <h5 class="card-title">注文履歴</h5>
      <p class="card-text">配送状況の確認</p>
      <a href="#" class="btn btn-success">ボタン</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body">
      <h5 class="card-title">ログインとセキュリティ</h5>
      <p class="card-text">アカウント情報の変更</p>
      <a href="#" class="btn btn-success">ボタン</a>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <div class="card card-body">
      <h5 class="card-title">アドレス帳</h5>
      <p class="card-text">お届け先住所の確認と変更。</p>
      <a href="#" class="btn btn-success">ボタン</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-body">
      <h5 class="card-title">お客様の支払い</h5>
      <p class="card-text">クレジットカード情報の登録、変更</p>
      <a href="#" class="btn btn-success">ボタン</a>
    </div>
  </div>
</div>