<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <h5 class="card-header text-center">ご購入ありがとうございました</h5>
      <div class="card-body">
        <p>商品が発送されるまでしばらくお待ちください</p>
        <div class="form-group">
          <%= link_to "商品一覧に戻る", public_items_path, class: "btn btn-info col-md-12" %>
      </div>
    </div>
  </div>
</div>
